.form{
    top: 50%;
    text-align: center;
    display: flex;
    position: relative;
    height: 40%;
    width: 50%;
    /* transform: translate(-15%, -15%); */
    flex-direction: column;
}
.container{
    text-align: center;
    display: block;
    position: relative;
    /* flex-direction: column; */
    height: 40%;
    width: 50%;
    left: 39%;
}

